* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  background: #333;
  color: white;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 15em;
}
.app .search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  flex-direction: column;
}
.app .search h1 {
  margin: 0.5em;
  font-size: 3em;
}
.app .search form {
  padding: 0%;
  border: 1.5px solid transparent;
  border-radius: 0.1em;
}

.app .search form input {
  margin: 0%;
}
.app .search form:hover {
  border: 1.5px solid rgba(0, 153, 255, 0.699);
  box-shadow: 0px 0px 10px rgba(0, 153, 255, 0.575);
}
.app .main {
  width: 80%;
  margin: 4em auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .app .main {
    width: 100%;
  }
  .app .search h1 {
    font-size: 2em;
  }
}
